body {
  background-color:#fefefe;
  padding-top:110px;
}

.wrap {
  padding:10px;
  margin:0 5px 5px 5px;
  background-color: #ddd;
}

#main {
  padding:5px;
}

input.cmd {
  width:335px;
}

input.pose {
  width: 42px;
}

label.pose {
}

h3 {
	background-color:#222;
	text-align: left;
	color:#fff;
	padding:5px 5px 5px 10px;
	margin: 20px 5px 0px 5px;
}

h3.dialogBlock {
	background-color:#4d5980;
}

h4 {
	text-align: left;
	background-color:#384e94;
	color:#eee;
	margin: -10px -10px 15px -10px;
	padding: 10px 5px 5px 10px;
}

h4::after, h3::after {
	content: ":";
}


.pure-button {
  background-color:#84A365;
  color:#fff;
  margin-bottom:8px;
  text-align:left;
}

.pure-button.yellow {
	background-color:#ffdf2d;
    color:#000;
}


.pure-button.red {
	background-color:#db2e6d;
    color:#000;
}


.pure-button.gray {
	background-color:#c9c9c9;
    color:#000;
}


.pure-button.edit {
  background-color:#ff0000;
}

.pure-button.completed {
  color:#000;
  background-color:#867c79;
}

.pure-button.playing.completed, .pure-button.playing, .pure-button.running {
  color:#000;
  background-color:#ffbf00;
}

#audioSources {
	display:none;
}


.pure-button.robot {
  color:#000;
  background-color:#AAFF00;
}

.pure-button.audio {
  color:#000;
  background-color:#FFAA00;
}

.pure-button.video {
  color:#000;
  background-color:#AA00FF;
}

.pure-button.image {
  color:#000;
  background-color:#FF00AA;
}

.pure-button.faceOverlay {
  color:#000;
  background-color:#00AAFF;
}

.pure-button.button-error {
  color:#fff;
  background-color:#000;
}


.buttonList .pure-button {
  display:block;
  width: 100%;
  overflow: hidden;
}

.pure-button.editAdd {
  display:inline;
  width: auto;
  background-color:#00cc66;
  color:#000;
  font-weight:bold;
  text-align:center;
}

.buttonList .pure-button.editAddEnd {
  display:block;
}

.editUtteranceText {
	width:70%;
}

.afterUtterance {
	width:8%;
}

.pure-button.editDel {
  display:inline;
  width: auto;
  background-color:#ff0000;
  color:#000;
  font-weight:bold;
  text-align:center;
}

.head {
  text-align:center;
  text-transform:uppercase;
  font-weight:bold;
  font-size:12px;
  background:#ccc;
  color:#333;
  padding:2px;
  margin-bottom:5px;
}

.head.glued {
  background:#aaecff;
}

#log {
    overflow-y: scroll;
    background: #fff;
    color: #000;
    padding: 0px;
    margin: 10px 0 0 0;
    height: 200px;
}

#log ul {
    display: block;
    font-family: monospace;
    padding:0;
    margin:0;
}

#log ul li {
  margin:0;
  padding:3px 5px;
  list-style-type:none;
}

#log ul li:nth-child(even) {
  background:#f8f8f8;
}

#log ul li.log_l:hover {
  background:#aaecff;
}

#log ul li.log_e {
  background:#FFC7C8;
}

#log ul li.log_w {
  background:#FFF8C7;
}

#log ul li.log_x {
  background:#F7C7FF;
}

#log ul li.log_a {
  background:#C7FFDC;
}

#log ul li.log_s {
  background:#FF7F00;
  color:black;
}

#ARMTABLE {
  margin:0 auto;
}

#ARMTABLE .pure-button {
  width:70px;
}

.fixed-nav-bar h3 {
  margin: 0;
}
.fixed-nav-bar .wrap {
  margin: 0;
  background-color: #5e5e5e;
  box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.66);
}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  padding: 0; 
}

.bmlArea {
    width:100%;
    height:120px;
    font-family: monospace;
    font-size: 11px;
}
